* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Head e nav */
header {
    height: 80px;
}

.logo {
    padding: 20px;
}

.right_nav .navigation {
    float: right;
}


a {
    text-decoration: none;
    color: black;
}

.navigation li a {
    margin-right: 20px;
}

.left_nav, .right_nav, .navigation, .navigation li {
    display: inline-block;
}

.right_nav {
    width: 40%;
    vertical-align: 140%;
}

.left_nav {
    width: 50%;
    vertical-align: 140%;
}

.bluebutton {
    background-color: rgb(30, 30, 255);
    color: white;
    padding: 10px;
}


/* Jumbotron */
.jumbotron {
    height: 90vh;
    background-color: #b4d0e7;
    margin-bottom: 20%;
}

.jumbotron h1 {
    font-size: 90px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:5%;
}

.jumbo_right {
    width: 30%;
    height: 300px;
    float: left;   
    padding-left: 10%;
    padding-top: 5%;
    margin-bottom: 10px;
}

.jumbo_right_text {
    font-size: 20px;
}

.button_jumbo {
    line-height: 80px;
}

.arrow {
    font-size: 50px;
    line-height: 200px;
}

.jumbo_left .image {
    width: 65%;
    height: 65%;
    margin-top: 5%;
    margin-left: 2%;
}

/* Piani e costi d'acquisto */

.container{
    width: 70%;
    margin: auto;
}

.plans::after {
    content: "";
    clear: both;
    display: table;
}


.container input {
    margin-top: 20px;
}

.second_radio {
    margin-left: 30px;
}

.radio_buttons {
    margin-bottom: 10px;
}

.column {
    width: calc(90% / 3);
    height: 1000px;
    margin-right: 5%;
    border: 1px lightgray solid;
    float: left;
    margin-bottom: 20px;
}

.third_col {
    margin-right: 0;
}

.col_title {
    text-align: center;
    padding-top: 10px;
}

.col_text {
    padding-left: 20px;
    padding-right: 20px;
}

.column hr {
    margin-bottom: 10px;
}

.col_text * {
    margin-bottom: 20px;
}

.duration {
    margin-bottom: 40px;
}

.trial {
    display: block;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(30, 30, 255);
    color: white;
    padding: 10px;
}

.buy_now {
    text-decoration: underline;
    color: rgb(0, 110, 255);
}

#half_hr {
    margin-left: 10px;
    margin-right: 220px;
    margin-bottom: 40px;
}

.checkbox {
    color: rgb(0, 110, 255);
}

.infolist * {
    margin-bottom: 20px;
}

.duration {
    color: gray;
}

.hor_column {
    height: auto;
    border: 1px lightgray solid;
    margin-bottom: 100px;
}

.hor_col_text *{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.hor_col_text h2 {
    display: inline-block;
}

.hor_col_text a {
    float: right;
    background-color: blue;
    color: white;
    padding: 10px;
}

.hor_col_text p {
    margin-bottom: 30px;
}

.partner_img {
    width: 45%;
    float: left;
}

.partner_img img {
    max-width: 100%;
    max-height: 100%;
}

.partner_text {
    float: right;
    width: 45%;
}

.partner_text * {
    padding-top: 70px;

}

.partner_button {
    margin-top: 40px;
    padding: 10px;
    border: 1px black solid;
    display: inline-block;
}

